<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeCart.mapper.UserInfoMapper">
<!--    idx_user_id 为此处索引名-->
    <select id="getUserInfo" parameterType="Integer" resultType="userinfo">
        select * from userinfo where user_id = #{id}
    </select>
    <!--    idx_user_id 为此处索引名-->
    <update id="updateUserInfoLoginTime" parameterType="Integer">
        update userinfo set last_login_time = now()
        where
            user_id = #{id}
    </update>
    <update id="updateUserInfo" parameterType="userinfo">
        update userinfo
        <set>
            <if test="age!=null and age!= ''">age = #{age},</if>
            <if test="gender!=null and gender!= ''">gender = #{gender},</if>
            <if test="address!=null and address!= ''">address = #{address},</if>
            <if test="email!=null and email!= ''">email = #{email},</if>
            <if test="phoneNumber!=null and phoneNumber!= ''">phone_number = #{phoneNumber},</if>
            <if test="birthday!=null and birthday!= ''">birthday = #{birthday},</if>
            <if test="education!=null and education!= ''">education = #{education},</if>
            <if test="name!=null and name!= ''">name = #{name},</if>
        </set>
        <where>
            user_id = #{id}
        </where>
    </update>
    <update id="updateUserInfoAvatar" parameterType="map">
        update userinfo set avatar = #{avatar}
        where
            user_id = #{id}
    </update>
    <insert id="updateUserInfoRegistrationTime" parameterType="java.util.Map">
        insert into userinfo(user_id,registration_time,phone_number) values (#{id},now(),#{phone})
    </insert>
    <!--    idx_user_id 为此处索引名-->
    <update id="updateUserInfoPwdModifyTime" parameterType="Integer">
    update userinfo set passwordmodified = now()
    where
        user_id = #{id}
    </update>
</mapper>