<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codecart.mapper.UserMapper">
    <insert id="register" parameterType="com.codecart.pojo.User">
            insert into user(username,password) values(#{username},#{password})
    </insert>
    <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.codecart.pojo.User">
        select * from user where username = #{username}
    </select>
</mapper>