<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeCart.mapper.UserInfoMapper">
    <select id="getUserInfobyId" parameterType="Integer" resultType="userinfo">
        select * from userinfo where user_id = #{id}
    </select>

    <!--    更新同时更新user表用户注册时间-->
    <insert id="insertRegistrationTime" parameterType="Integer">
        insert into userinfo(user_id,registration_time) values (#{id},now())
    </insert>
    <update id="updateLoginTime" parameterType="Integer">
        update userinfo set last_login_time = now()
        where
            user_id = #{id}
    </update>
    <update id="update" parameterType="userinfo">
        update userinfo
        <set>
            <if test="age!=null and age!= ''">age = #{age},</if>
            <if test="gender!=null and gender!= ''">gender = #{gender},</if>
            <if test="address!=null and address!= ''">address = #{address},</if>
            <if test="email!=null and email!= ''">email = #{email},</if>
            <if test="phoneNumber!=null and phoneNumber!= ''">phone_number = #{phoneNumber},</if>
            <if test="birthday!=null and birthday!= ''">birthday = #{birthday},</if>
            <if test="education!=null and education!= ''">education = #{education},</if>
            <if test="name!=null and name!= ''">name = #{name},</if>
        </set>
        <where>
            user_id = #{id}
        </where>
    </update>
    <update id="updateAvatar" parameterType="map">
        update userinfo set avatar = #{avatar}
        where
            user_id = #{id}
    </update>
    <!--    更新用户密码的同时更新userinfo表中的密码修改时间-->
    <update id="updatePwdTime" parameterType="Integer">
    update userinfo set passwordmodified = now()
    where
        user_id = #{id}
    </update>
</mapper>